asn1crypto==0.22.0
chardet==3.0.4
cryptography==1.9
cupshelpers==1.0
dae==0.1
defer==1.0.6
idna==2.5
jieba==0.36.2
keyring==10.4.0
keyrings.alt==2.2
notify2==0.3
olefile==0.44
pexpect==4.2.1
Pillow==4.1.1
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
pygobject==3.22.0
pyorient==1.5.5
pysmbc==1.0.15.6
python-apt==1.4.0b3+b1
python3-xlib==0.15
pyxdg==0.25
reportlab==3.4.0
requests==2.12.4
SecretStorage==2.3.1
six==1.10.0
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
urllib3==1.19.1
virtualenv==15.1.0
xkit==0.0.0
